[registry."docker.io"]
  mirrors = ["{{ buildset_registry_alias }}:{{ buildset_registry.port }}"]

[registry."quay.io"]
  mirrors = ["{{ buildset_registry_alias }}:{{ buildset_registry.port }}/quay.io"]

[registry."gcr.io"]
  mirrors = ["{{ buildset_registry_alias }}:{{ buildset_registry.port }}/gcr.io"]
